<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="VSOffline" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>

  <!-- Allow EVERYTHING from nuget.org -->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <!-- Keep offline as fallback if you want -->
    <packageSource key="VSOffline">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>